.material-notification {
    padding: 16px;
    margin: 5px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.material-notification__header {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}
.material-notification__header > :nth-child(n + 2) {
    margin-right: 4px;
}
.material-notification__header > :nth-child(n + 3) {
    margin-right: 4px;
}
.material-notification__header > :nth-child(n + 3)::before {
    content: "â—";
    margin-right: 4px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 8px;
    vertical-align: top;
}
.material-notification__header-icon {
    margin-right: 8px;
    border-radius: 50%;
    font-size: 18px;
    width: 16px;
    height: 16px;
    vertical-align: -4px;
}
.material-notification__content {
    margin: 8px 0 0;
}
.material-notification__content > * {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.material-notification__content-icon {
    width: 38px;
    height: 38px;
    border-radius: 48px;
    float: right;
}
.material-notification__content-icon ~ * {
    max-width: calc(100% - 54px);
}
.material-notification__content-text:first-of-type {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 4px 0;
}
.material-notification__content-text:nth-of-type(n + 2) {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    line-height: 16px;
}
.material-notification__footer {
    background-color: #eeeeee;
    margin: 16px -16px -16px;
    padding: 8px 8px;
}
.material-notification__footer .mdl-button {
    padding: 0px 8px;
    min-width: auto;
    height: 32px;
}
