@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "../resources/css/bootstrap.global.css";
@import "../resources/css/bootstrap-extend.global.css";
@import "../resources/css/site.global.css";
@import "../resources/css/slidePanel.global.css";
@import "../resources/css/jquery-mmenu.global.css";
@import "../resources/css/web-icons.global.css";
@import "~react-perfect-scrollbar/dist/css/styles.css";
@import '~react-virtualized/styles.css';

.site-navbar .navbar-header .navbar-brand-logo {
  margin-top: 0;
  height: 60px;
}

.site-menubar-fold.site-menubar-hover .site-navbar .navbar-brand-logo {
  height: 60px;
}

.site-navbar-small .site-navbar .navbar-brand {
  height: 60px;
  padding: 0;
}